{% extends "authentication/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Javaid Bashir :: Web developer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <!--  Request me for a signup form or any type of help  -->

    <div class="card text-center">
        <div class="card">
            <div class="card-body">
                <h1>Welcome {{ user.username }}</h1>
                <br>


                <form method="POST" action="{% url 'logoutuser' %}">
                    {% csrf_token %}
                    <button type="submit" class="fourth fourth:hover">LOGOUT</button>
                </form>


            </div>
        </div>
    </div>
</body>

</html>





{% endblock %}